@use "base16" as *;

#anime-list.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

// desktop
@media screen and (min-width: 810px) {
    #anime-list.content {
        width: 70vw;
        margin-left: 15vw;
    }
}

// tablet
@media screen and (min-width: 500px) and (max-width: 810px) {
    #anime-list.content {
        width: 100vw;
        margin-left: 0vw;
    }
}

// phone
@media screen and (max-width: 500px) {
    #anime-list.content {
        width: 100vw;
        margin-left: 0;
    }
}
