@use "base16" as *;

.field {
  width: 100%;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 1em;
  margin-top: 1em;
  margin-right: 1em;
  outline: none;
}

.field-end {
  @extend .field;
  margin-right: 0em;
}

