@use "base16" as *;

.notify-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;

    width: 30vw;

    margin: 0.5em;
    margin-top: 10vh;
    padding: 1em;

    box-shadow: 0px 0px 20px black;
    border-radius: 5px;

    opacity: 0;
    transition: opacity 1s;
}

.notify-error {
    @extend .notify-container;
    background-color: $base08;
}

.notify-warn{
    @extend .notify-container;
    background-color: $base09;
}

.notify-msg {
    @extend .notify-container;
    background-color: $base0D;
}

.notify-title,
.notify-description {
    margin: 0;
    padding: 0;
}

.notify-title {
    margin-bottom: 0.5em;
}


.notify-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// mediaqueries
// desktop
@media screen and (min-width: 810px) {
}

// tablet
@media screen and (min-width: 500px) and (max-width: 810px) {
    .notify-container {
        width: 50vw;
    }
}

// phone
@media screen and (max-width: 500px) {
    .notify-container {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}
