@use "base16" as *;


#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bt-row.ui-row {
    margin-top: 1em;
    & > button,
    & > .bt-blu {
        width: 100%;
    }
}

th {
    text-align: right;
    user-select: none;
}

// phone
@media screen and (max-width: 500px) {
    th {
        width: 25vw;
    }
    #bt-row {
        gap: 1em;
    }
}

// tablet
@media screen and (min-width: 500px) and (max-width: 810px) {
    th {
        width: 15vw;
    }
}

// desktop
@media screen and (min-width: 810px) {
    th {
        width: 10vw;
    }
}
