#signup-form > p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#signup-form > .field,
#signup-form > .field-end,
#signup-form > .ui-row > .field,
#signup-form > .ui-row > .field-end {
    margin-top: 0;
}
